body {
    margin: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
}

@media (min-width: 1200px) {
    .header {
       background-image: url("../images/banner-bg.jpg");
       padding-bottom: 110px;
    }

    .article-preview {
        width: 25%;
    }

    .header-logo {
        margin-left: 220px;
        padding-left: 10%;
    }

    .article-preview:nth-child(n+2) {
        margin-left: 6px;
    }

    .article-link {
        top: 100px;
        width: 90%;
        margin-left: 5px;
        padding: 15px;
        padding-top: 40px;
        padding-right: 0;
    }

    .article-link-secondary {
        top: 72px;
        padding-top: 40px;
        height: 97px;
    }

    .article-category {
        top: 155px;
        left: 30px;
    }

    .web-page-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .post-list {
        width: 775px;
        box-sizing: border-box;
    }

    .post-preview-article {
        margin-left: 20px;
    }

    .aside-bar {
        margin-left: 120px;
    }

    .aside-posts {
        position: relative;
        left: -50px;
    }

    .search-button {
        left: 260px;
    }

    .shop-content {
        width: 100%;
        justify-content: center;
    }

    .shop-item {
        max-width: 300px;
        margin-right: 100px;
        text-align: center;
    }

    .shop-item-description {
        width: 115%;
        text-align: left;
    }

    .image-container {
        margin-left: 8%;
        margin-right: 8%;
    }

    .container-footer {
        width: 1170px;
    }
}
   
@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        padding-bottom: 185px;
    }

    .header-logo {
        margin-left: 5vw;
        margin-top: 20px;
    }

    .menu-burger-header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
        margin-right: 20px;
        top: 55px;
        right: 40px;
    }

    .menu-burger-header span, .menu-burger-header::after, .menu-burger-header::before{
        height: 4px;
        width: 100%;
        position: absolute;
        background: white;
        margin: 0 auto;
    }
    
    .menu-burger-header span{
        top: 30px;
    }
    
    .menu-burger-header::after{
        content: '';
        bottom: 30px;
    }

    .menu-burger-header::before{
        content: '';
        top: 15px;
    }

    .header-menu {
        display: none;
    }

    .web-page-title {
        margin-top: 120px;
    }

    .article-preview-third, .article-preview-fourth {
        padding-bottom: 30px;
    }

    .article-link {
        width: 80%;
    }

    .post-list {
        box-sizing: border-box;
        margin-right: 20px;
        margin-left: 35px;
    }

    .post-preview {
        flex-wrap: wrap;
    }

    .post-list-picture {
        width: 100%;
        margin-bottom: 25px;
    }

    .post-preview-article::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        font-size: 26px;
        background-color: #999966;
        opacity: 0.4;
    }

    .aside-bar {
        margin-left: 20px;
    }

    .aside-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .aside-posts-header-topics {
        position: relative;
        left: 60px;
    }

    .categories-list {
        position: relative;
        left: -90px;
        top: 50px;
    }

    .search-section {
        width: 80%;
        left: -25px;
    }

    .search-button {
        left: 220px;
    }

    .shop-section {
        margin-left: 50px;
        margin-right: 50px;
    }

    .shop-content {
        flex-wrap: wrap;
        padding-left: 0;
    }

    .picture-shop {
        width: 95%;
    }

    .shop-item {
        width: 42%;
    }

    .shop-item:nth-child(odd) {
        margin-right: 60px;
    }

    .image-container {
        width: 110%;
        text-align: right;
    }

    .shop-item-description {
        width: 105%;
    }

    .container-footer {
        width: 88vw;
        padding-left: 0;
    }
}

@media (min-width: 641px) and (max-width: 1199px)  and (orientation: landscape) {
    .article-preview {
        min-width: 25%;
        margin-right: 5px;
    }

    .article-link {
        top: 100px;
        margin-left: 10px;
        padding: 15px;
        padding-top: 40px;
        padding-right: 0;
        padding-left: 25px;
    }

    .article-link-secondary {
        top: 77px;
        padding-bottom: 8px;
    }

    .article-category {
        top: 155px;
        left: 40px;
    }
    
    .article-content {
        width: 25%;
    }
}

@media (min-width: 641px) and (max-width: 1199px)  and (orientation: portrait) {
    .article-content {
        flex-wrap: wrap;
    }

    .article-preview {
        width: 50%;
    }

    .article-preview-first {
        position: relative;
        left: -5px;
    }
    
    .article-preview-third {
        position: relative;
        left: -5px;
    }

    .article-link {
        top: 100px;
        margin-left: 10px;
        padding: 15px;
        padding-top: 40px;
        padding-right: 0;
        padding-top: 40px;
        padding-left: 35px;
    }

    .article-link-secondary {
        top: 72px;
        padding-top: 40px;
        height: 97px;
    }

    .article-category {
        top: 155px;
        left: 49px;
    }
}

@media (max-width: 640px) {
    .header {
        background-image: url("../images/banner-mobile.jpg");
    }

    .header-logo {
        margin-left: 5vw;
    }
    
    .header-menu {
        display: none;
    }

    .shop-content {
        margin-left: 150px;
    }
}

.web-page {
    overflow-x: hidden;
    width: 100%;
    font-family: Open Sans, sans-serif;
}

.header {
    position: relative; 
    z-index: 3;
    width: 100%;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #669999;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

.container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

.header-link {
    width: 0;
    height: 0;
}

.header-logo {
    width: 190px;
    height: 46px;
    padding-top: 26px;
    padding-left: 10%;
}

.header-menu {
    padding-top: 45px; 
    padding-right: 10%;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 170px;
    list-style: none;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 33px;
}

.menu-link {
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.web-page-title {
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    font-family: inherit;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.article-section {
    min-height: 300px;
}

.header-name {
    position: relative;
    display: block;
    margin-top: 15px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.header-name::after {
    content: "";
    position: relative;
    display: block;
    width: 80px;
    height: 2px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 26px;
    background-color: #999966;
    opacity: 0.4;
}

.article-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

.article-header {
    display: block;
    padding-bottom: 85px;
}

.article-preview {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.article-preview::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

.article-preview-first {
    background-image: url("../images/trend1.jpg");
}

.article-preview-second {
    background-image: url("../images/trend2.jpg");
}

.article-preview-third {
    background-image: url("../images/trend3.jpg");
}

.article-preview-fourth {
    background-image: url("../images/trend4.jpg");
}

.article-category {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
}

.article-category-secondary {
    top: 130px;
}

.article-category-item {
    margin-right: 17px;
}

.article-link {
    position: relative;
    z-index: 3;
    display: block;
    min-height: 70px;
    margin-right: 40px;
    
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: start;
    word-wrap: break-word;
    border: 3px solid #999966;
    color: white;
}

.web-page-content {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.post-preview {
    display: flex;
    margin-bottom: 60px;
}

.post-preview-article {
    overflow-wrap: break-word;
    width: 100%;
}

.post-preview-article-category {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
    color: #999966;
}

.post-preview-article-category-item:nth-child(n+2) {
    margin-left: 15px;
}

.article-title {
    position: relative;
    bottom: 10px;
    display: block;
    margin-top: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.article-frame {
    position: relative;
    top: -15px;
}

.time-article-frame {
    margin-top: 20px;
    color: #999999;
}

.time-article-frame, .author-article-frame {
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
}

.author-article-frame {
    margin-left: 15px;
    font-weight: bold;
    color: #000000;
}

p {
    font-family: inherit;
    font-size: 15px;
    line-height: 22px;
}

.aside-bar {
    width: 275px;
    margin-right: 35px;
}

.aside-posts:nth-child(n+2) {
    margin-top: 58px;
}

.aside-posts-header {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.categories-list {
    list-style: none;
    padding: 0;
}

.recent-post-article {
    display: flex;
    margin-top: 30px;
    box-sizing: border-box;
}

.recent-post-article:nth-child(n+2) {
    margin-top: 0;
}

.recent-post-article-fourth {
    position: relative;
    bottom: 20px;
}

.recent-post-article-fifth {
    position: relative;
    bottom: 20px;
}

.recent-post-picture {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.time-recent-post-article {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
}

.time-recent-post-article, .name-recent-post-article {
    box-sizing: border-box;
    margin-bottom: 0;
    list-style: none;
    font-family: inherit;
    color: #000000;
}

.name-recent-post-article {
    position: relative;
    top: -20px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.search-section {
    position: relative;
    bottom: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.field-search-group, .search-button {
    margin-top: 25px;
}

.field-search-group, .field-email-address {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 20px;
    vertical-align: middle;
    font-family: inherit;
    font-size: 13px;
    border: 2px solid #f5f7f6;
    background-color: #f5f7f6;
    opacity: 0.6;
}

.search-button {
    position: relative;
    top: -75px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #999966;
    background-color: #999966;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
}

.aside-posts-subscripe {
    position: relative;
    bottom: 90px;
}

.aside-posts-tags-list {
    position: relative;
    bottom: 90px;
}

.aside-posts-categories-list {
    position: relative;
    bottom: 100px;
}

.aside-posts-header {
    position: relative;
    margin-bottom: 30px;
}

.aside-posts-header::after {
    content: "";
    position: relative;
    display: block;
    width: 65px;
    height: 2px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 26px;
    background-color: #999966;
    opacity: 0.4;
}

.button-submit {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 16px;
    font-family: inherit;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #999966;
    background-color: #999966;
    color: #ffffff;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.tags-block {
    display: flex;
}

.tags-link {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 12px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #f5f7f6;
    color: #000000;
}

.categories-container {
    display: flex;
    border-bottom: 2px solid #f5f7f6;
}

.categories-container:nth-child(n+2) {
    padding-top: 11px;
}

.categories-item {
    display: block;
    padding-bottom: 9px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.categories-number {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #999966;
}

.shop-content {
    display: flex;
    margin-top: -20px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.shop-item-description {
    position: relative;
    top: -57px;
    height: 75%;
    padding: 15px;
    padding-top: 30px;
    word-wrap: break-word;
    border: 3px solid #999966;
}

.shop-title-link {
    position: relative;
    top: 0;
    display: block;
    margin-top: 15px;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
    color: #000000;
}

.shop-service-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.price {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    text-decoration: line-through;
    color: #000000;
}

.discount {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

.shop-text-link {
    color: #999966;
}

.button-shop {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 125px;
    height: 45px;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #999966;
    background-color: #999966;
    color: #ffffff;
}

.container-footer {
    height: 70px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 15px;
    background-color: #f4f7f6;
}

.socials {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.socials-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.socials-link-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
    background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright-footer {
    display: block;
    margin-top: 70px;
    margin-bottom: 35px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #999999;
}

.popup-visually-hidden {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	display: none;
    visibility: hidden;
}

.popup-visually-hidden::after {
	content: "";
	background-color: #000000;
	opacity: 0.85;
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.popup-active {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: Open Sans, sans-serif;
}

.popup-box {
    position: relative;
	z-index: 2;
	box-sizing: border-box;
	width: 400px;
    height: 610px;
	padding: 40px;	
	background-color: #ffffff;
}

.popup-close {
    position: absolute;
	top: -30px;
	right: 0;
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	cursor: pointer;	
	background-image: url("../svg/form-x.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}

.popup-close-text {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
}

.popup-header {
    position: relative;
	text-align: center;
}

.popup-header::after {
    content: "";
    position: relative;
    top: -25px;
    left: -8px;
    display: block;
    width: 70px;
    height: 2px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 26px;
    background-color: #999966;
    opacity: 0.4;
}

.popup-msg {
    display: block;
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.form-group {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 325px;
}

.select-group {
    display: block;
}

.select-label {
    display: block;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 13px;
    text-align: left;
}

.form-group-items {
    text-align: left;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 330px;
    height: 38px;
    padding-left: 10px;
    padding-right: 25px;

    font-size: 14px;
    font-family: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;

    background-image: url("../svg/form-arrows.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #f4f7f6;
    color: #818382;
}

.form-row:nth-child(n+2) {
    margin-top: 35px;
}

.form-hint {
    display: block;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: inherit;
    text-align: left;
}

.form-group-items-radio {
    position: relative;
    top: 0;
    display: inline-block;
    margin-left: 3px;
}

.radio-button {
    position: absolute;
    opacity: 0;
}

.radio-button:checked + .radio-item::before {
    background-image: url("../svg/form-circle.svg");
}

.radio-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.field {
    box-sizing: border-box;
    width: 640px;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 13px;
    border: none;
}

.textarea {
    min-width: 330px;
    max-width: 330px;
    min-height: 120px;
    max-height: 120px;
    margin-bottom: 30px;
    border: none;
    background-color: #f4f7f6;
    resize: none;
}

.form-group-button {
    text-align: left;
}

.button {
    width: 90%;
    margin-left: 15px;
    padding: 15px 55px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: #b59f5b;
    color: #ffffff;
}
