body {
    margin: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts/OpenSans-Regular.woff);
}

.web-page {
    width: 100%;
    font-family: Open Sans, sans-serif;
}

.header {
    width: 100%;
    min-width: 1200px;
    height: 450px;
    background-color: #669999;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    text-transform: uppercase;
    position: relative; 
    margin-bottom: 60px;
    z-index: 3;
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}

.header-logo {
    width: 190px;
    height: 46px;
    padding-top: 26px;
    padding-left: 10%;
}

.header-menu {
    padding-top: 45px; 
    padding-right: 10%;
}

.menu-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-list-item:nth-child(n +2) {
    margin-left: 33px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    color: inherit;
}

.web-page-title {
    padding-top: 55px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.header-section {
    position: relative;
}

.header-section::after {
    content: " ______ ";
    margin-right: auto;
    margin-left: 31.2em;
    margin-top: 2px;
    display: block;
    font-size: 26px;
    font-weight: bold;
    color: #b59f5b;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 105px;
}

.header-name {
    display: block;
    margin-top: 15px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.article-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.article-preview {
    position: relative;
    padding: 0;
    width: 105%;
}

.article-preview:nth-child(n+2) {
    margin-left: 6px;
}

.article-preview::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}

.article-category {
    position: absolute;
    left: 40px;
    top: 236px;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    z-index: 3;
}

.article-category_secondary {
    top: 210px;
}

.article-category-item {
    margin-right: 20px;
}

.article-link {
    position: absolute;
    height: 70px;
    width: 85%;
    padding: 15px;
    bottom: 20px;
    left: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 40px;
    padding-right: 10px;
    padding-top: 40px;
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: start;
    border: 3px solid #999966;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    z-index: 3;
}

.article-link_secondary {
    height: 97px;
}

.picture {
    width: 100%;
    height: 100%;
}

.post-content {
    width: 1200px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.post-list {
    width: 775px;
    box-sizing: border-box;
}

.post-preview {
    display: flex;
    margin-bottom: 60px;
}

.post-list-picture {
    height: 295px;
}

.post-preview-article {
    margin-left: 30px;
}

.post-preview-article-header {
    padding-bottom: 40px;
}

.post-preview-article-category {
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #999966;
}

.post-preview-article-category-item:nth-child(n+2) {
    margin-left: 15px;
}

.article-title {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.time-article-frame {
    color: #999999;
}

.time-article-frame, .author-article-frame {
    display: inline-block;
    margin-top: 26px;
    font-family: inherit;
    font-size: 12px;
}

.author-article-frame {
    margin-left: 15px;
    font-weight: bold;
    color: #000000;
}

p {
    font-family: inherit;
    font-size: 15px;
    line-height: 22px;
}

.shop-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
    width: 100%;
}

.shop-item {
    position: relative;
    text-align: center;
    margin-right: 100px;
    width: 100%;
    max-width: 300px;
}

.picture-shop {
    height: 110%;
    width: 90%;
}

.shop-item-description {
    position: absolute;
    box-sizing: border-box;
    height: 250px;
    top: 180px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid #999966;
    text-align: left;
}

.shop-title-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

p {
    font-family: inherit;
    font-size: 15px;
    line-height: 22px;
}

.price {
    margin-bottom: 0;
    text-decoration: line-through;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.discount {
    margin-top: 36px;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

.shop-text-link {
    color: #999966;
}

.button-shop-first, .button-shop-second, .button-shop-third {
    display: block;
    position: absolute;
    width: 125px;
    height: 45px;
    margin-left: 140px;
    box-sizing: border-box;
    border: 2px solid #999966;
    background-color: #999966;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.button-shop-first {
    bottom: 60px;
}

.button-shop-second {
    bottom: 20px;
}

.button-shop-third {
    bottom: 40px;
}